* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(240, 241, 232);
  }

  .menu-container {
    display: flex;
    justify-content: center; 
    color: #fff;
    background-color: rgb(42, 55, 71);  /* Blue */
    padding: 20px 0;
  }
  
  .menu {
    /* border: 1px solid #fff; */
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }

  .header-container {
    color: rgb(218, 232, 252);
    background-color: rgb(240, 241, 232);
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  
  .header {
    color: rgb(240, 241, 232);
    width: 900px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social,
  .subscribe {
    align-self: center;
    margin-bottom: 20px;
    padding: 1em;
  }

  .portfolio-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(240, 241, 232);
    margin-top: 11px;
  }

  .form {
    background-color: rgb(57, 73, 92);
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: baseline, space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
  }

  .portfolio-grid {
    background-color: rgb(240, 241, 232);
    border: solid 15px rgb(57, 73, 92);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
    height: 30em;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: none;
    background-color: #D6E9FE;
    height: 75px;
    flex: 1;
  }

  .footer-three {
    display: flex;
    justify-content: center;
  }

  .footer-one,
  .footer-three {
  background-color: rgb(42, 55, 71);
  flex: initial;
  width: 300px;
}

.footer-two {
    background-color: rgb(42, 55, 71);
}

.signup {
    margin-left: auto;
}

.logo {
    display: flex;
    justify-content: center;
    height: 12.5em;
    width: 30em;
}

/* .tokens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16.66%;
  padding: 3px 3px 3px 3px;
} */

.token {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16%;
  padding: 3px 3px 3px 3px;
  
}

#name {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16.66%;
  padding: 3px 3px 3px 3px;
  
}

#amount {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15.66%;
  padding: 3px 3px 3px 3px;
  flex-wrap: wrap;
}

#price { 
  order: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15.66%;
  padding: 3px 3px 3px 3px;
  flex-wrap: wrap;
}

#tokens {
  order: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15.66%;
  padding: 3px 3px 3px 3px;
  flex-wrap: wrap;
}

#pnl {
  order: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16.66%;
  padding: 3px 3px 3px 3px;
  flex-wrap: wrap;
}

#date {
  order: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16.66%;
  padding: 3px 3px 3px 3px;
  flex-wrap: wrap;
}

.crypto {
  display: flex;
  justify-content: center;
  flex: 1;
  align-content: center;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  height:20px;
  width: 200px;
  padding: 2px 2px 2px 2px;
  border: inset rgb(42, 55, 71);
}

#submit {
  padding-top: 4px;
  padding-bottom: 2px;
  margin-top: 5px;
  margin-bottom: 8px;
  width: 170px;
  font-weight: bold;
  border: outset rgb(42, 55, 71);
}

.division {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20px;
}

#label {
  padding: 5px 5px 5px 5px;
  margin-top: 3px;
  font: 25px;
  font-weight: bold;
  /* -webkit-text-stroke-width: 2px; */
  -webkit-text-stroke-color:  black;
  color: gold;
}

.addedToken {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2px;
  padding: 1px 1px 1px 1px; 
  border: inset rgb(42, 55, 71);
}

#form-delete {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
}

#form {
  display: flex;
  height: 16em;
}

.delete {
  order: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20px;
  height: 20px;
  padding: 3px 3px 3px 3px;
  flex-wrap: wrap;
}
/* #delete {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  width: 170px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgb(57, 73, 92);
  font-weight: bolder;
  color: rgb(240, 241, 232);
  border-radius: 5px;
} */